.app-footer {
    width: 100%;
    height: 2.5rem;
    position: fixed;
    bottom: 0rem;
    background-color: #bcbcb6;    
}

.footer-text {
    position: absolute;
    right: 1rem;
    line-height: 2.5rem;
    font-size: 1.4rem;
    font-weight: bold;
}